/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .home {
   border: 1px solid #efefef;
   background: #fff;
   font-family: sans-serif;
   text-align:center;
 }
 .header {
   padding:100px 100px 10px 100px;

  h1 {
    font-size:42px;
  }
 }
 .grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 20px;
   width: 100%;
   padding:20px;
 }
 .link_new, .link_view_email, .link_set_email, .link_list, .btn {
   margin: 20px 0;
 }
 .link_new a, .link_view_email a, .link_set_email a, .link_list a, .btn {
   color: #fff;
   background-color: #71b406;
   border-radius: 4px;
   padding: 10px 30px;
   cursor: pointer;
   border-radius: 3px;
   border: 1px solid #71b406;
   text-align: center;
   line-height: 20px;
   min-height: 40px;
   margin: 7px;
   font-weight: 600;
   text-decoration: none;
 }
 .card {
   border: 1px solid #efefef;
   background: #ffffe6;
   font-family: sans-serif;
   width: auto;
 }
 .first_name, .last_name, .phone, .email{
   padding: 5px;
   text-align:center;
}

label {
  font-weight: bold;
  text-decoration: none;
}

 input {
   text-align:center;
   width: 400px;
   margin:0px auto;
   display: block;
   border: none;
   padding: 10px 0;
   border-bottom: solid 1px #1abc9c;
   transition: all 0.3s cubic-bezier(.64,.09,.08,1);
   border-bottom:1px solid #1abc9c;
 }
